//brand colors
$brand-color: #8A0808;
$body-bg-color: #fff;
$text-color-light: rgb(229, 226, 226);
$text-color-dark: #333;

//fonts
$body-font: 'Quicksand',
sans-serif;
$line-height: 1.4;

//utility variables
$box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);

//Layout Variables
$padding: 30px;

//function to convert px to ems
//bd stands for browser default = 16px;

@function em($px, $bd:16) {
    @return #{$px/$bd}em;
}

//Media Query Widths
$desktopMedium: em(1250);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phonePortrait: em(420);